body {
  background: Linen;
  margin: 100px;
  }

div.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-rows: minmax(200, auto);
  grid-gap: 3em;
}

div.left {
    grid-column: 1/2;
}

.addPlayer {
    border: 1px solid;
    margin: 10px;
    padding: 10px;
}

.playerTable {
    border: 1px solid;
    margin: 10px;
    padding: 10px;
}


.finalTalbe {
    border: 1px solid;
    margin: 10px;
    padding: 10px;
}

.gameConfig {
    border: 1px solid;
    margin: 10px;
    padding: 10px;
}

.kenGame {
    border: 1px solid;
    margin: 10px;
    padding: 10px;
}

.playerTableList {
    display: flex;
    align-items: center;
}

div.right {
    grid-column: 2/3;
}

.kendamaGamePlayerList {
    display: flex;
    align-items: center;
}

