body {
  background: Linen;
  }

.indexContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.indexHeader{
  grid-column: 2/3;
  grid-row: 1/2;
}
.indexMenu {
  display: grid;
  grid-column: 2/3;
  grid-row: 2/3;
  justify-content: center;
}
