<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kendama Open</title>
</head>

<body>
    <div class="kenGame"> 
        <h2>Ken game</h2>
        {% if checkWinner == False: %}
            {% for p in dfDict %}         
                {% if p.points < p.word|length: %}
                   <div class="kendamaGamePlayerList">
                        <div class="kenGameAddPointButton">
                            <form class="addPoint" action="/showGame/addPoint/{{ dfDict.index(p) }}" method="post">
                                <input type="submit" value="add point" />
                            </form>
                        </div>

                        <div class="kenGameRemovePointButton">
                            <form class="addPoint" action="/showGame/removePoint/{{ dfDict.index(p) }}" method="post">
                                <input type="submit" value="remove point" />
                            </form>
                        </div>

                        <div class="kenGamePlayerName">
                            {% if p.points == 0: %}
                                <p>{{ p.name}} {{ p.surname }}:</p>
                            {% else: %}
                                <p>{{ p.name}} {{ p.surname }}: {{ p.word[:p.points] }}</p>
                            {% endif %}
                        </div>
                    </div>

                {% elif p.points == p.word|length %}
                    <div class="kenGamePlayerList">
                        <p>{{ p.name}} {{ p.surname }}: {{ p.word }}</p>
                    </div>

                     <div class="kenGameRemovePointButton">
                        <form class="addPoint" action="/showGame/removePoint/{{ dfDict.index(p) }}" method="post">
                            <input type="submit" value="remove point" />
                        </form>
                    </div>
                {% endif %}
            {% endfor %}
        {% elif checkWinner == True: %}
              {% for p in dfDict: %}
                  {% if p.end == False: %}
                    <p>{{ p.name }} {{ p.surname }} won!</p>
                  {% endif %}
              {% endfor %}
              <div class="nextGame">
                <form class="nextGameButton" action="/showGame/nextGame/{{ dfDict[0].get('masterUID') }}" method="post">
                    <input type="submit" value="Next game">
                </form>
        {% endif %}
             <form class="goBack" action="/showGame/backToHome/{{ dfDict[0].get('masterUID') }}" method="post">
                <input type="submit" value="Back to home">
            </form>
    </div>
</body>
</html>