<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kendama Open</title>
</head>

<body>
    <div class="kenContainer">
      <div class="kenHeader">
        <h1>Game of K.E.N</h1>
      </div>

       {% if checkWinner == False: %}
       {% for p in dfDict %}
       {% if p.points < p.word|length: %}
       <div class="gameViewPlayerRow">
         <div class="playerRowAddPointForm">
           <form action="/showGame/addPoint/{{ dfDict.index(p) }}" method="post">
             <div class="playerRowAddPointButton">
               <input type="submit" value="add point" />
             </div>
           </form>
         </div>

         <div class="playerRowRemovePointForm">
           <form action="/showGame/removePoint/{{ dfDict.index(p) }}" method="post">
             <div class="playerRowRemovePointButton">
               <input type="submit" value="remove point" />
             </div>
           </form>
         </div>

         <div class="playerRowPlayerName">
             {% if p.points == 0: %}
             <div class="playerRowPlayerNameDisplayStart">
               <p>{{ p.name}} {{ p.surname }}:</p>
             </div>
             {% elif p.points == p.word|length %}
             <div class="playerRowPlayerNameDisplayDroped">
                 <p>{{ p.name}} {{ p.surname }}: {{ p.word }}</p>
             </div>
             {% else: %}
             <div class="playerRowPlayerNameDisplayActive">
                 <p>{{ p.name}} {{ p.surname }}: {{ p.word[:p.points] }}</p>
            </div>
             {% endif %}
         </div>
         </div>
          {% endif %}
          {% endfor %}
          {% elif checkWinner == True: %}
            {% for p in dfDict: %}
            {% if p.end == False: %}
            <div class="gameViewWinner">
              <p>{{ p.name }} {{ p.surname }} won!</p>
            </div>
           {% endif %}
           {% endfor %}
         </div>

        <div class="gameViewNav">
           <div class="gameViewNextGame">
             <form action="/showGame/nextGame/{{ dfDict[0].get('masterUID') }}" method="post">
               <div class="gameViewNextGameButton">
                 <input type="submit" value="Next game">
               </div>
             </form>
           </div>
           {% endif %}
           <div class="gameViewFin">
             <div class="gameViewFinForm">
               <form action="/showGame/backToHome/{{ dfDict[0].get('masterUID') }}" method="post">
                 <div class="gameViewFinButton">
                   <input type="submit" value="Back to home">
                 </div>
              </form>
             </div>
           </div>
         </div>


      </div>



</body>
</html>
