<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kendama Open</title>
</head>

<body>
    <div class="indexContainer">
      <div class="indexHeader">
        <h1>Kendama-open</h1>
      </div>
      <div class="indexMenu">
        <div class="indexMenuButton">
          <form class="kenGameButton" action="/startKenGame" method="post">
              <input type="submit" value="Game of K.E.N">
          </form>
        </div>
        <div class="indexMenuButton">
          <form class="statsButton" action="/showStats" method="post">
              <input type="submit" value="Show overall statistics">
          </form>
        </div>
      </div>
    </div>
</body>
</html>
