<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kendama Open</title>
</head>

<body>
      <form class="gameFinish" action="/showStats/gameFinish" method="post">
          <input type="submit" value="Finish">
      </form>
        <form class="mainTable" action="/showStats" method="post">
            <input type="submit" value="mainTable">
        </form>
        <form class="overallWinner" action="/showStats/overallWinner" method="post">
            <input type="submit" value="overallWinner">
        </form>

        <form class="timeFilter" action="/showStats/masterFilter" method="post">
          <label for="startDate">Start Date</label>
          <input type="date" name="startDate">
          <label for="endDate">End Date</label>
          <input type="date" name="endDate">
          <label for="playerName">Player name: </label>
          <select name="playerName">
            <option value="all">All</option>
            {% for p in uniqueNames %}
            <option value="{{ p }}">{{ p }}</option>
            {% endfor %}
          </select>
          <button class="sendButton" type="submit">Filter</button>
        </form>

    <!-- main table     -->
    {% for p in dfDict %}
    {% if p.end == True %}
    <div class="tableRow">
      <div class="tableCell">
        {{ p.masterUID }}
      </div>
      <div class="tableCell">
        {{ p.gameUID }}
      </div>
      <div class="tableCell">
        {{ p.timestamp }}
      </div>
      <div class="tableCell">
        {{ p.name }}
      </div>
      <div class="tableCell">
        {{ p.end }}
      </div>
      <div class="tableCell">
        {{ p.finGames }}
      </div>
      <div class="tableCell">
        <form action="/showStats/showGameDetails/{{ p.masterUID }}" method="post">
          <div class="tabelCellDetailsButton">
            <button type='submit'>Show details</button>
          </div>
        </form>
      </div>
    </div>
    {% endif %}
    {% endfor %}
</body>
</html>
