<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kendama Open</title>
</head>

<body>
  <div class="container p-5">
    <!-- header -->
      <div class="row">
        <div class="col-12">
          <p class='h1 text-center text-lowercase'>contest setup</p>
        </div>
      </div>

    <!-- add player & player table / game cofig-->
    <div class="row pt-5">
      <div class="col-6">
        <ul class="list-group">
          {% for p in dfDict: %}
          <li class="list-group-item">
            <form action="/showPlayerTable/removePlayer/{{ dfDict.index(p) }}" method="post">
              {{ dfDict.index(p) + 1 }}. {{ p.name}} {{ p.surname }}
              <button class="btn" type="submit">
                <i class="bi bi-trash3"></i>
              </button>
            </form>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="col-6">
        <div class="d-grid pb-1">
          <button class="btn btn-dark btn-block" data-bs-toggle="collapse" data-bs-target="#addplayer">add player</button>
        </div>
        <div id="addplayer" class="collapse hide pb-1">
          <form action="/showPlayerTable/addPlayer" method="post">
              <input type="text" name="pName" placeholder="Player's name">
              <button class="btn btn-dark" type="submit">Add player</button>
          </form>
        </div>
        <div class="d-grid pb-1">
          <button class="btn btn-dark btn-block" data-bs-toggle="collapse" data-bs-target="#config">config</button>
          </div>

        <div id="config" class="collapse hide pb-1">
            {% if dfDict|length > 0 %}
              <form action="/showPlayerTable/changeConfigWord" method="post">
                <input type="text" name="newWord" placeholder="{{ dfControl[0].get('word') }}">
                <button class="btn btn-dark" type="submit">Set</button>
              </form>

              <form action="/showPlayerTable/changeConfigTrunControl" method="post">
                
                {% if dfControl[0].get('turnControl') == True %}
                <p>Turn control: ON</p>
                <button class="btn btn-dark" type="submit" value="False" name="turnControl">Disable</button>
                {% else %}
                <p>Turn control: OFF</p>
                <button class="btn btn-dark" type="submit" value="True" name="turnControl">Enable</button>
                {% endif %}
              </form>

              {% if dfDict|length > 0 and dfControl[0].get('masterUID') != 0 %}
              Current masterUID: {{ dfControl[0].get('masterUID') }}
              {% else: %}
                <form class="cofigMasterInput" action="/showPlayerTable/changeConfigMasterUID" method="post">
                  Current masterUID: None
                    <button class="btn btn-dark" type="submit" value="Create masterUID">Create</button>
                </form>
              {% endif %}
            {% else %} Provide user data first!

              {% endif %}
        </div>

          <form action="/showGame" method="post">
            <div class="d-grid pb-1">
              {% if dfDict|length == 0 %}
              <button class="btn btn-dark btn-block" type="submit" disabled>Start game</button>
              {% else %}
              <button class="btn btn-dark btn-block" type="submit">Start game</button>
              {% endif %}
              </div>
          </form>
          <form action="/showPlayerTable/gameFinish" method="post">
            <div class="d-grid">
              <button class="btn btn-dark btn-block" type="submit">Exit</button>
            </div>
          </form>
          </div>

      </div>


    <div class="row pt-5">
      <div class="col-12">
        <p class='h3 text-lowercase'>game config</p>

        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              {% for h in dfTable %}
              <th>{{ h }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>

            {% for h in dfDict %}
            <tr>
              <td>{{ h.name }}</td>
              <td>{{ h.winGames }}</td>
              <td>{{ h.finGames }}</td>
              <td>{{ h.masterUID }}</td>
            </tr>
            {% endfor %}

          </tbody>
        </table>

        <!-- {% for table in tables %}
        {{titles[loop.index]}}
        {{ table|safe }}
        {% endfor %} -->
      </div>
    </div>


  </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
